<div id="preloader">
    <!-- Titanium Knights Preloader -->
    <div id="digimax-preloader" class="digimax-preloader">
        <!-- Preloader Animation -->
        <div class="preloader-animation">
            <!-- Spinner -->
            <div class="spinner"></div>
            <!-- Loader -->
            <div class="loader">
                <span data-text-preloader="T" class="animated-letters">T</span>
                <span data-text-preloader="I" class="animated-letters">I</span>
                <span data-text-preloader="T" class="animated-letters">T</span>
                <span data-text-preloader="A" class="animated-letters">A</span>
                <span data-text-preloader="N" class="animated-letters">N</span>
                <span data-text-preloader="I" class="animated-letters">I</span>
                <span data-text-preloader="U" class="animated-letters">U</span>
                <span data-text-preloader="M" class="animated-letters">M</span>
                <span data-text-preloader="K" class="animated-letters">K</span>
                <span data-text-preloader="N" class="animated-letters">N</span>
                <span data-text-preloader="I" class="animated-letters">I</span>
                <span data-text-preloader="G" class="animated-letters">G</span>
                <span data-text-preloader="H" class="animated-letters">H</span>
                <span data-text-preloader="T" class="animated-letters">T</span>
                <span data-text-preloader="S" class="animated-letters">S</span>
            </div>
            <p class="fw-5 text-center text-uppercase">Loading</p>
        </div>
        <!-- Loader Animation -->
        <div class="loader-animation">
            <div class="row h-100">
                <!-- Single Loader -->
                <div class="col-3 single-loader p-0">
                    <div class="loader-bg"></div>
                </div>
                <!-- Single Loader -->
                <div class="col-3 single-loader p-0">
                    <div class="loader-bg"></div>
                </div>
                <!-- Single Loader -->
                <div class="col-3 single-loader p-0">
                    <div class="loader-bg"></div>
                </div>
                <!-- Single Loader -->
                <div class="col-3 single-loader p-0">
                    <div class="loader-bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>